{% extends "base.html" %}

{% load static form_tags %}

{% block title %}42 CC Ticket#13{%endblock%}

{% block content %}

<div class="container">
<h1>42 Coffee Cups Test Assignment #13</h1>
          <form id="main-form" action="{% url 'ajax_submit' %}" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="column">
                    <div class="main">

                     <div class="form-group row">
                      <label class="col-md-4 col-form-label">First Name:</label>
                      <div class="col-md-8">
                          {{ form.first_name|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>

                    <div class="form-group row">
                      <label for="id_last_name" class="col-md-4 col-form-label">Last Name:</label>
                      <div class="col-md-8">
                          {{ form.last_name|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="id_date_of_birth" class="col-md-4 col-form-label">Date of birth:</label>
                      <div class="col-md-8">
                          {{ form.date_of_birth|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="id_photo" class="col-md-4 col-form-label">Photo:</label>
                      <div class="col-md-8">
                          {{ form.photo }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                    </div>
                    {% if entry.photo %}
                      <p><img id="img_id" src="{{ entry.photo.url }}" alt="{{ entry.first_name }}'s photo" width="200" height="200"/></p>
                    {% endif %}

                    <p class="buttons-row">
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Save</button>
                          <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                      </div>
                    </p>

                    </div>
                  </div>
                  <div class="column">
                    <div class="main">

                      <div class="form-group row">
                      <label for="id_email" class="col-md-4 col-form-label">Email:</label>
                      <div class="col-md-8">
                          {{ form.email|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>

                      <div class="form-group row">
                      <label for="id_skype" class="col-md-4 col-form-label">Skype:</label>
                      <div class="col-md-8">
                          {{ form.skype|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>

                      <div class="form-group row">
                      <label for="id_jabber" class="col-md-4 col-form-label">Jabber:</label>
                      <div class="col-md-8">
                          {{ form.jabber|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>

                      <div class="form-group row">
                      <label for="id_other_contacts" class="col-md-4 col-form-label">Other:</label>
                      <div class="col-md-8">
                          {{ form.other_contacts|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>

                      <div class="form-group row">
                      <label for="id_bio" class="col-md-4 col-form-label">Bio:</label>
                      <div class="col-md-8 bio">
                          {{ form.bio|add_css:"form-control" }}{% if field.errors %}{{ error }}{% endif %}
                      </div>
                     </div>
                    </div>
                  </div>
              </div>
              </form>
              <hr>
              <a href="{% url 'http_requests' %}">requests</a>

    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
</div>


<script>

    $('#id_date_of_birth').datepicker({
	uiLibrary: 'bootstrap4',
	iconsLibrary: 'fontawesome',
	// minDate: 0,
	// minDate: function(){
	//   return $('#endDate').val();
	// },
	locale: 'ua-ua',
	format: 'yyyy-mm-dd',
	// startDate: '-3d',
	// maxDate: function () {
	//     return $('#endDate').val();
	// }
})
</script>

{% endblock %}