{% extends "base.html" %}

{% block title %}42 CC Ticket#1{%endblock%}

{% block content %}
<div class="container">
      <h1>42 Coffee Cups Test Assignment #1</h1>
          <div class="row">
              <div class="column">
                  <p>Personal Data</p>
                  <p>First Name: Ruslan</p>
                  <p>Last Name: Zhovniriv</p>
                  <p>Date of birth: 15.07.1987</p>
                  <p>Age: 32</p>
                  <p>Bio: Developer, Full Stack</p>
                  <!-- <img src="200x200.png" alt="Flowers in Chania"> -->
              </div>
              <div class="column">
                  <p>Contacts:</p>
                  <p>email: ruszhov@gmail.com</p>
                  <p>Skype: ruszhov</p>
                  <p>Jabber: ruszhov@42.cc.co</p>
                  <p>Other contacts: https://www.linkedin.com/in/ruszhov/</p>
              </div>
          </div>
      </div>
{% endblock %}
