{% extends "base.html" %}

{% load staticfiles %}

{% block title %}42 CC Ticket#5{%endblock%}

{% block content %}
  <div class="container">
  <h1>42 Coffee Cups Test Assignment #8</h1>
  <div class="edit-block">
    <a href="#">Edit</a>
    <a href="#">(admin)</a>
  </div>
      <div class="row">
          <div class="column">
              <p>Personal Data</p>
              <p>First Name: Ruslan</p>
              <p>Last Name: Zhovniriv</p>
              <p>Date of birth: 15.07.1987</p>
              <p>Age: 32</p>
              <p>Photo:</p>
              <p><img src="" alt="photo" width="200" height="200"/></p>
          </div>
          <div class="column">
              <p>Contacts:</p>
              <p>email: ruszhov@gmail.com</p>
              <p>Skype: ruszhov</p>
              <p>Jabber: ruszhov@42.cc.co</p>
              <p>Other contacts:</p>
              <p style="padding-bottom: 40px;">https://www.linkedin.com/in/ruszhov/</p>
              <p>Bio:</p>
              <p style="padding-bottom: 40px;">Developer, Full Stack</p>
          </div>
      </div>
      <hr>
      <a href="">requests</a>
  </div>
{% endblock %}
