{% extends "base.html" %}

{% load static edit_object %}

{% load staticfiles %}

{% block title %}42 CC Ticket#13 - Home{% endblock %}

{% block content %}
<div class="container">
      <h1>42 Coffee Cups Test Assignment #13</h1>
          <div class="edit-block">
            <a href="{% url 'edit-form' %}">Edit</a>
	        <a href="{% edit_link contact %}">(admin)</a>
          </div>
          <div class="row">
              <div class="column">
                  <p>Personal Data</p>
                  <p>First Name: {{ contact.first_name }}</p>
                  <p>Last Name: {{ contact.last_name }}</p>
                  <p>Date of birth: {{ contact.date_of_birth |date:"d.m.Y" }}</p>
                  <p>Age: {{ age }}</p>
                  {% if contact.photo %}
                      <p>Photo:</p>
                      <p><img src="{{contact.photo.url}}" alt="{{ contact.first_name }}'s photo" width="200" height="200"/></p>
                  {% endif %}
              </div>
              <div class="column">
                  <p>Contacts:</p>
                  <p>email: {{ contact.email }}</p>
                  <p>Skype: {{ contact.skype }}</p>
                  <p>Jabber: {{ contact.jabber }}</p>
                  <p class="other">Other contacts: {{ contact.other_contacts }}</p>
                  <p class="bio">Bio: {{ contact.bio }}</p>
              </div>
          </div>
          <hr>
          <a href="{% url 'http_requests' %}">requests</a>
      </div>
{% endblock %}
