{% extends "base.html" %}

{% load staticfiles %}

{% block title %}42 CC Ticket#13 - Requests{%endblock%}

{% block content %}

<div class="container">
<h1>42 Coffee Cups Test Assignment #13</h1>
    <p><a class="btn btn-primary" href="{% url 'home' %}">back to main page</a></p>
    <p>New Entries: <span id="new-entries">0</span></p>
    <table class="http-requests table-bordered" id="http-requests">
        <thead>
        <tr>
            <th>ID</th>
            <th>Priority</th>
            <th>Date/time</th>
            <th>Request Method</th>
            <th>URL</th>
            <th>Server Protocol</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.pk }}</td>
            <td><mark>{{ request.priority }}</mark></td>
            <td>{{ request.date }}</td>
            <td>{{ request.request_method }}</td>
            <td>{{ request.url }}</td>
            <td>{{ request.server_protocol }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'hello/js/requests.js' %}"></script>

{% endblock %}